<%-include('header');-%>
    <div class="container">
        <% if(message!="" ) { %>
            <p class="text-center text-danger">
                <%= message %>
            </p>
            <% } %>
                <form class="add-player-form" action="" method="post">
                    <!-- <% console.log(product); %> -->
                        <% if(product.length> 0){ %>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="">Select Category</label><br>
                                    <select name="category_name">
                                        <option value="" disabled selected>Select Category</option>
                                        <% product.forEach((items,index)=> {%>
                                            <option value="<%= items.category_id%>">
                                                <%=items.category_name%>
                                            </option>
                                            <%})%>
                                    </select>

                                </div>
                                <div class="form-group col-md-12">
                                    <label for="">Add Product Name</label><br>
                                    <input type="text" name="product_name" placeholder="Add Product name" required>
                                </div>
                            </div>
                            <% } %>
                                <button type="submit" class="btn btn-primary float-left">Add Product</button>
                </form>
    </div>
    </body>

    </html>