<%- include ('header'); -%>
<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% category.forEach((player, index) => { %>
        <form class="add-player-form" action="" method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="">Edit Category Name</label>
                    <input type="text" class="form-control" name="category_name" id="first-name" value="<%= player.category_name %>" required>
                </div>
            </div>
            
            <button type="submit" class="btn btn-success float-left">Update Category</button>
        </form>
    <% }) %>
</div>
</body>
</html>